<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.oleiva">
    <uses-permission android:name="android.permission.INTERNET" />
    <applicatio
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="io.github.oleiva.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ndroid.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </applicatio>
</manifest>